.upr-mobile{
    top: 0;
    position: fixed;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100vh;
}
.mobile{
    background-color: whitesmoke;
    height: 102vh;
    width: 60vw;
    position: absolute;
    right: 0px;
    top: -6px;
    padding: 18px 0px;


    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
  

}
.le{
    font-size: large;
}
.my-logo{
    font-weight: 600;
    padding-right: 10px;
}
.close-icon {
    display: flex;
    justify-content: flex-end;
    font-size: 24px; 
    cursor: pointer; 
    margin: 16px 31px;
}
.mobile-option{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 55%;
    padding-top: 10px;
    justify-content: center;
    text-align: left;
    height: auto;
    
}
.mobile-options{
    font-size: 24px;
    margin: 12px 0px;
    display: flex;
    color: rgb(235, 53, 84);
}

.mobile-options:hover{
    color: #232323;
}
.mobile-options .link{
    text-decoration: none;
    color: #808927;
    display: flex;
    list-style-type: none;
}